body {
    background: #212121;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slotcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slot {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    border-radius: 7.5px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.slot .symbols {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 5s;
}

.slot .symbol {
    width: 100px;
    height: 150px;
    font-size: 60px;
    line-height: 100px;
    display: block;
    text-align: center;
    padding-top: 25px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}
