/* .pink {
  color: hotpink;
} */
/* 
html:has(option [value="2015"]:checked) ~ p {
  color: blue;
} */

/* If a certain year is selected, change the color of p */
/* <select id="year-select">
      <option value="">All</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option> */
/* #year-select option[value="2013"]:checked ~ p {
    color: blue;
    } */
svg {
  transition: 0.5s;
  height: 10em;
  width: auto;
  margin-bottom: 5em;
}

ul {
  display: flex;
  overflow: scroll;
  margin-top: 5em;
}

li {
  list-style-type: none;
  margin-right: 1em;
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.5rem;
  width: 25rem;
  /* transform: skewX(-5deg) skewY(0deg) rotateX(0deg) rotateZ(0deg) rotateY(0deg)
    scaleX(1) scaleY(1); */
  /* box-shadow: 0 0 1rem rgba(0, 2, 0, 0.5); */
  /* box-shadow: inset 0 0 1rem rgba(0, 2, 0, 0.5); */
  transition: 0.5s;
}

img {
  padding: 1rem;
  width: 20rem;
}

button {
  background-color: hotpink;
  border: 1px solid hotpink;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: translateY(-10%);
    box-shadow: 0 4px 0 #000;
  }
}